.content {
    img {
        text-align: center;
        width: 1rem;
        margin-bottom: -0.20rem;
    }
    figure img {
        max-height: 25em;
        max-width: 100%;
        margin: auto;
        display: block;
        width: auto;
        height: auto;
    }

    figure figcaption {
        text-align: center;
        font-style: italic;
    }
}
