@import "vars";

.content {
    a:hover {
        text-decoration: underline;
    }
    ol {
        counter-reset: list;
    }
    ol > li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ul > li {
        margin: 5px 0 5px 0;
    }
    ul {
        padding: 0 20px 0 20px;;
    }
    ol {
        padding: 0 30px 0 30px;
    }
    ol > li:before {
        content: "[" counter(list, decimal) "] ";
        counter-increment: list;
        position: absolute;
        left: -30px;
    }
    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    blockquote {
        border-left: 3px solid $meta;
        margin: 10px 0 10px 0;
        padding: 0px 10px 0px 10px;
        font-style: italic;
        color: $meta;
    }
    .profile-picture {
        height: $image-size;
        width: $image-size;
        position: relative;
        margin: 0 0 0 15px;
        float: right;
        border-radius: 50%;
        p & {
            padding: 0;
            margin: 0;
        }
        @media (max-width: $small-width) {
            float: none;
            img {
                margin-top: -5px;
            }
        }
    }
}
