/*
 * Customization Variables
 */

$bg: #FAFAFA;
$accent: #024CBF;
$meta: #5E5A61;
$image-size: 120px;

/*
 * Build Variables, don't touch
 */

$max-width: 750px;
$med-width: 600px;
$small-width: 480px;
